<!doctype html>
{%- liquid
  assign direction = 'ltr'
  assign rtl_iso_codes = 'ar,he,ur,fa,pa,sd,ku' | split: ','
  if rtl_iso_codes contains request.locale.iso_code
    assign direction = 'rtl'
  endif
-%}
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
<head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />

  <script> 

!function(){var o=window.tdl=window.tdl||[];if(o.invoked)window.console&&console.error&&console.error("Tune snippet has been included more than once.");else{o.invoked=!0,o.methods=["init","identify","convert"],o.factory=function(n){return function(){var e=Array.prototype.slice.call(arguments);return e.unshift(n),o.push(e),o}};for(var e=0;e<o.methods.length;e++){var n=o.methods[e];o[n]=o.factory(n)}o.init=function(e){var n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://js.go2sdk.com/v2/tune.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(n,t),o.domain=e}}}();

tdl.init("https://aspireiq.go2cloud.org") 
tdl.identify() 
</script>

  <script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"healthius-store.myshopify.com",ver:"1.9",plat:"SHOPIFY",isHeadless:false},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1,P))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e]),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:window.TriplePixelData.ver},O("https://api.config-security.com/",5,p),O("https://triplewhale-pixel.web.app/dot1.9.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-53HM3TQ7');</script>
<!-- End Google Tag Manager -->
  {% render 'pagefly-head' %}
<script>
  
</script>
  
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">

	{%- if settings.favicon -%}
		<link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />
	{%- endif -%}

	{%- capture seo_title -%}
    {%- if template contains 'search' -%}
      {{ search.terms | replace: '*', '' | split: ' AND ' | last }} - {{ shop.name | escape }}
    {%- else -%}
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name | escape }}{% endunless %}
    {%- endif -%}
  {%- endcapture -%}

	<title>{{ seo_title }}</title>

	{%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
	{%- endif -%}

  {%- liquid
    render 'open-graph'
    unless settings.disable_microdata 
      render 'microdata-schema'
    endunless
  -%}

  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  {%- unless settings.headings_font.system? and settings.body_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  {%- render 'head-preloader' -%}
  {%- render 'head-variables', direction: direction -%}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {% if product.handle == "dummy-product-1" or product.handle == "fresh-bundle" or product.handle == "custom-bundle" %}
    {{ 'custombundleproduct.css' | asset_url | stylesheet_tag }}
  {% endif %}
	{{ content_for_header }}

  <script>
    const rbi = [];
    const ribSetSize = (img) => {
      if ( img.offsetWidth / img.dataset.ratio < img.offsetHeight ) {
        img.setAttribute('sizes', `${Math.ceil(img.offsetHeight * img.dataset.ratio)}px`);
      } else {
        img.setAttribute('sizes', `${Math.ceil(img.offsetWidth)}px`);
      }
    }
    const debounce = (fn, wait) => {
      let t;
      return (...args) => {
        clearTimeout(t);
        t = setTimeout(() => fn.apply(this, args), wait);
      };
    }
    window.KEYCODES = {
      TAB: 9,
      ESC: 27,
      DOWN: 40,
      RIGHT: 39,
      UP: 38,
      LEFT: 37,
      RETURN: 13
    };
    window.addEventListener('resize', debounce(()=>{
      for ( let img of rbi ) {
        ribSetSize(img);
      }
    }, 250));
  </script>
	
  {%- if template == 'customers/addresses' or request.design_mode -%}
	  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
	{%- endif -%}
  
  <noscript>
    <link rel="stylesheet" href="{{ 'theme-noscript.css' | asset_url }}">
  </noscript>
  {% if product.handle == "dummy-product-1" or product.handle == "fresh-bundle" %}
  <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
  <script src="{{ 'product-bundle.js' | asset_url }}" defer></script>
  {% elsif  product.handle == "custom-bundle" %}
    <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
    <script src="{{ 'custom-bundle.js' | asset_url }}" defer></script>
  {% endif%}
  
<!-- Start VWO Async SmartCode -->
<link rel="preconnect" href="https://dev.visualwebsiteoptimizer.com" />
<script type='text/javascript' id='vwoCode'>
window._vwo_code || (function() {
var account_id=768559,
version=2.0,
settings_tolerance=2000,
hide_element='body',
hide_element_style = 'opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important',
/* DO NOT EDIT BELOW THIS LINE */
f=false,w=window,d=document,v=d.querySelector('#vwoCode'),cK='_vwo_'+account_id+'_settings',cc={};try{var c=JSON.parse(localStorage.getItem('_vwo_'+account_id+'_config'));cc=c&&typeof c==='object'?c:{}}catch(e){}var stT=cc.stT==='session'?w.sessionStorage:w.localStorage;code={use_existing_jquery:function(){return typeof use_existing_jquery!=='undefined'?use_existing_jquery:undefined},library_tolerance:function(){return typeof library_tolerance!=='undefined'?library_tolerance:undefined},settings_tolerance:function(){return cc.sT||settings_tolerance},hide_element_style:function(){return'{'+(cc.hES||hide_element_style)+'}'},hide_element:function(){return typeof cc.hE==='string'?cc.hE:hide_element},getVersion:function(){return version},finish:function(){if(!f){f=true;var e=d.getElementById('_vis_opt_path_hides');if(e)e.parentNode.removeChild(e)}},finished:function(){return f},load:function(e){var t=this.getSettings(),n=d.createElement('script'),i=this;if(t){n.textContent=t;d.getElementsByTagName('head')[0].appendChild(n);if(!w.VWO||VWO.caE){stT.removeItem(cK);i.load(e)}}else{n.fetchPriority='high';n.src=e;n.type='text/javascript';n.onerror=function(){_vwo_code.finish()};d.getElementsByTagName('head')[0].appendChild(n)}},getSettings:function(){try{var e=stT.getItem(cK);if(!e){return}e=JSON.parse(e);if(Date.now()>e.e){stT.removeItem(cK);return}return e.s}catch(e){return}},init:function(){if(d.URL.indexOf('__vwo_disable__')>-1)return;var e=this.settings_tolerance();w._vwo_settings_timer=setTimeout(function(){_vwo_code.finish();stT.removeItem(cK)},e);var t=d.currentScript,n=d.createElement('style'),i=this.hide_element(),r=t&&!t.async&&i?i+this.hide_element_style():'',c=d.getElementsByTagName('head')[0];n.setAttribute('id','_vis_opt_path_hides');v&&n.setAttribute('nonce',v.nonce);n.setAttribute('type','text/css');if(n.styleSheet)n.styleSheet.cssText=r;else n.appendChild(d.createTextNode(r));c.appendChild(n);this.load('https://dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&vn='+version)}};w._vwo_code=code;code.init();})();
</script>
<!-- End VWO Async SmartCode -->

  
  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

</head>

<body  id="{{ page_title | handle }}" class="no-touchevents 
  {% if customer %} customer-logged-in {% endif %} 
  template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }} 
  {% if settings.shadow_cards_x < 0 %} has-negative-shadow-x {% endif %}
  {% if settings.shadow_cards_y < 0 %} has-negative-shadow-y {% endif %}
">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53HM3TQ7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <script type="text/javascript">
    if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) { document.querySelector('body').classList.remove('no-touchevents'); document.querySelector('body').classList.add('touchevents'); } 
  </script>

  <a href="#main" class="visually-hidden skip-to-content" tabindex="0" data-js-inert>{{ 'general.accessibility_labels.skip_to_content' | t }}</a>

  {{ 'section-header.css' | asset_url | stylesheet_tag }}
  {% unless product.handle == "dummy-product-1" or product.handle == "fresh-bundle" or product.handle == "custom-bundle" %}
  {%- sections 'header-group' -%}
  {% else %}
  {%- sections 'header-group-custombundle' -%}
  {% endunless %}

  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'component-product-form.js' | asset_url }}" defer></script>
  {% if template.suffix == "recharge-bundle"  or template.suffix == "new-custom-bundle" %}
    <main id="main" class="main-content  backimage
      {% if settings.product_card_align_buy %} main-content--align-product-items {% endif %}
    " style="background-image: url('https://cdn.shopify.com/s/files/1/0555/1751/1961/files/Mask_Group_125_2_1.png?v=1693548433');">
	{% else %}
  <main id="main" class="main-content 
      {% if settings.product_card_align_buy %} main-content--align-product-items {% endif %}
    ">
  {% endif %}
  {% unless product.handle == "dummy-product-1"  or product.handle == "fresh-bundle" or product.handle == "custom-bundle" %}
    {%- render 'breadcrumb' -%}
  {% endunless %}
    {{ content_for_layout }}
  </main>
  {% unless product.handle == "dummy-product-1" or product.handle == "fresh-bundle" or product.handle == "custom-bundle" %}
  {%- sections 'footer-group' -%}
  {% endunless %}
  {%- section 'popups' -%}
  {%- section 'popup-age-verification' -%}
  {%- section 'store-selector' -%}
  
  <script src="{{ 'component-modal.js' | asset_url }}" defer></script>
  <link rel="stylesheet" href="{{ 'component-modal.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-popup.css' | asset_url }}" media="print" onload="this.media='all'">

	<script type="text/javascript">

    KROWN = {
      themeName: "Local",
      themeVersion: "2.2.2",
      settings: {
        shop_money_format: '{{ shop.money_format }}',
        cart_action: "{{ settings.cart_action }}",
        google_maps_api_key: "{{ settings.google_maps_api_key }}",
        routes: {
          cart_url: "{{ routes.cart_url }}",
          cart_add_url: "{{ routes.cart_add_url }}",
          cart_change_url: "{{ routes.cart_change_url }}",
          predictive_search_url: "{{ routes.predictive_search_url }}",
          product_recommendations_url: "{{ routes.product_recommendations_url }}"
        },
        locales: {
          products_add_to_cart_button: `{{ 'products.page.add_to_cart_button' | t }}`,
          products_preorder_button: `{{ 'products.page.preorder_button' | t }}`,
          products_sold_out_variant: `{{ 'products.page.inventory.sold_out_variant' | t }}`,
          products_unavailable_variant: `{{ 'products.page.inventory.unavailable_variant' | t }}`,
          products_one_product: `{{ 'products.page.inventory.one_product' | t }}`,
          products_few_products: `{{ 'products.page.inventory.few_products' | t }}`,
          products_no_products: `{{ 'products.page.inventory.no_products' | t }}`,
          products_preorder: `{{ 'products.page.inventory.preorder' | t }}`,
          products_enough_products: ``,
          product_sku: `{{ 'products.page.sku' | t }}`,
          product_barcode: `{{ 'products.page.barcode' | t }}`,
          product_compare_price: `{{ 'products.page.sales_amount_html' | t: amount: '$SAVE_PRICE' }}`,
          cart_add_error: `<span class="alert__icon">{%- render 'theme-symbols', icon: 'alert-error' -%}</span>{{ 'cart.add_error' | t }}`,
          cart_general_error: `{{ 'cart.general_error' | t }}`,
          store_selector_title_default: `{{ 'store_availability.store_selector.picking_up' | t }}`,
          store_selector_title_selected: `{{ 'store_availability.store_selector.my_store' | t }}`,
          store_selector_label: `{{ 'store_availability.store_selector.select_store_label' | t }}`,
          shipping_calculator_results_heading_one: `{{ 'cart.shipping_calculator.results_heading_one' | t }}`,
          shipping_calculator_results_heading_multiple: `{{ 'cart.shipping_calculator.results_heading_multiple' | t }}`,
          shipping_notice_remaining_to_free: `{{ 'cart.free_shipping_remaining_html' | t }}`,
          shipping_notice_eligible_for_free: `{{ 'cart.free_shipping_eligible' | t }}`
        },
        symbols: {
          zoom_out: `{%- render 'theme-symbols', icon: 'zoom-out' -%}`,
          zoom_in: `{%- render 'theme-symbols', icon: 'zoom-in' -%}`,
          zoom_loader: `<svg class="zoom__loader-element" viewBox="25 25 50 50"><circle cx="50" cy="50" r="20" fill="none" stroke-width="4"/></svg>`,
          close: `{%- render 'theme-symbols', icon: 'close' -%}`,
          toggle_pack: `<span class="toggle__icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>`,
          toggle_pack_alternate: `<span class="toggle__icon-alternate"><span class="toggle__icon--plus">{%- render 'theme-symbols', icon: 'plus' -%}</span><span class="toggle__icon--minus">{%- render 'theme-symbols', icon: 'minus' -%}</span></span>`
        },
        predictive_search_enabled: "true",
        predictive_search_script: "{{ 'component-predictive-search.js' | asset_url }}",
        predictive_search_placeholder: `<div class="search-results"><div class="search-block"><a class="search-item search-item--blank"><div class="thumbnail"></div><div class="content"><span class="title"></span><span class="caption"></span></div></a><a class="search-item search-item--blank"><div class="thumbnail"></div><div class="content"><span class="title"></span><span class="caption"></span></div></a><a class="search-item search-item--blank"><div class="thumbnail"></div><div class="content"><span class="title"></span><span class="caption"></span></div></a></div></div>`
      }
    }
    
	</script>
  <script src="https://static.rechargecdn.com/assets/storefront/recharge-client-1.8.1.min.js"></script>

  <script src="{{ 'component-quick-buy.js' | asset_url }}" defer></script>
  <script src="{{ 'component-pickup-availability.js' | asset_url }}" defer></script>

  <script src="{{ 'component-slider.js' | asset_url }}" defer></script>

  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
  {%- endif -%}
  
  {%- unless settings.cart_action == "no-overlay" or template.name contains "cart" -%}

    <sidebar-drawer id="site-cart-sidebar" class="sidebar sidebar--right {% if cart.item_count == 0 %} cart-is-empty {% endif %}" tabindex="-1" role="dialog" aria-modal="true" data-cart-items="{{ cart.item_count }}" style="display:none" data-js-site-cart-sidebar>
      
      <div class="sidebar__header">
        <span class="sidebar__title h5">
          {{ 'cart.title' | t }}
          (<span data-header-cart-count>{{ cart.item_count }}</span>)
        </span>
        <button class="sidebar__close" data-js-close>
          <span class="visually-hidden">{{ 'general.accessibility_labels.close_sidebar' | t }}</span>
          <span aria-hidden="true" aria-role="img">{%- render 'theme-symbols', icon: 'close' -%}</span>
        </button>
      </div>

      <div class="sidebar__body">

        <div class="cart-form sidebar-large-padding">
          {%- render 'cart-form', type: 'sidebar' -%}
          <a href="https://justmeats.com/products/fresh-bundle" class="cart-continue button button--fullwidth button--solid button--regular">
            {{ 'cart.continue_browsing' | t }}
          </a>
        </div>

        {%- if settings.cart_recommendations -%}
          <cart-recommendations id="cart-recommendations" data-section="cart-recommendations" data-limit="6"></cart-recommendations>
          <script src="{{ 'component-cart-recommendations.js' | asset_url }}" defer></script>
        {%- endif -%}

        {%- if settings.cart_notes_enable -%}
          <div class="cart-instructions hide-if-empty-cart">
            <div class="form-field">
              <label for="cartSpecialInstructions">{{ 'cart.note' | t }}</label>
              <textarea name="note" id="cartSpecialInstructions" = form="cart">{{ cart.note }}</textarea>
            </div>
          </div>
        {%- endif -%}

      </div>

      <div class="sidebar__footer hide-if-empty-cart">
        {%- render 'cart-subtotal', type: 'sidebar' -%}
      </div>

    </sidebar-drawer>

    <script>
      new MutationObserver((mutations, observer) => {
        if ( document.getElementById('cart').classList.contains('cart--empty') ) {
          document.getElementById('site-cart-sidebar').classList.add('cart-is-empty');
        } else {
          document.getElementById('site-cart-sidebar').classList.remove('cart-is-empty');
        }
      }).observe(document.querySelector('.cart-form'), {
        attributes: false, childList: true, subtree: true
      })
    </script>

  {%- endunless -%}

  <link rel="stylesheet" href="{{ 'component-cart.css' | asset_url }}" media="print" onload="this.media='all'">

  <script src="{{ 'component-quantity-selector.js' | asset_url }}" defer></script>
  {%- if settings.cart_action == "overlay" or template.name contains "cart" -%}
    <script src="{{ 'component-cart.js' | asset_url }}" defer></script>
  {%- endif -%}

  <link rel="stylesheet" href="{{ 'component-sidebar.css' | asset_url }}" media="print" onload="this.media='all';">
  <script src="{{ 'section-header.js' | asset_url }}" defer></script>

  <script>
    if ( document.getElementById('shopify-product-reviews') ) {
      var element = document.createElement("link");
      element.setAttribute("rel", "stylesheet");
      element.setAttribute("type", "text/css");
      element.setAttribute("href", "{{ 'component-shopify-reviews.css' | asset_url }}");
      document.body.appendChild(element);
    }
  </script>
  
  {%- if request.design_mode -%}
    <script src="{{ 'section-announcement-bar.js' | asset_url }}" defer></script>
    <script src="{{ 'component-toggle.js' | asset_url }}" defer></script>
    <script src="{{ 'section-main-product.js' | asset_url }}" defer></script>
    <script src="{{ 'component-video.js' | asset_url }}" defer></script>
    <script src="{{ 'component-store-selector.js' | asset_url }}" defer></script>
    <script src="{{ 'component-interactive-map.js' | asset_url }}" defer></script>
    <script src="{{ 'component-image-hotspots.js' | asset_url }}" defer></script>
    <script src="{{ 'component-localization-form.js' | asset_url }}" defer></script>
    <script src="{{ 'component-predictive-search.js' | asset_url }}" defer></script>
    <script src="{{ 'component-shipping-calculator.js' | asset_url }}" defer></script>
    <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>
    <script src="{{ 'component-before-after.js' | asset_url }}" defer></script>
  {%- endif -%}

  <div class="site-overlay" style="display:none"></div>

  <link rel="stylesheet" href="{{ 'section-main-product.css' | asset_url }}" media="print" onload="this.media='all';">

  {%- if settings.show_gotop -%}
    <span id="go-top" class="main-go-top"
      onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    >
      <span class="visually-hidden">{{ 'general.accessibility_labels.go_to_top' | t }}</span>
      <span class="main-go-top__icon" aria-hidden="true">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
    </span>
    <script>
      window.addEventListener('scroll', ()=>{
        if ( window.scrollY > 100 ) {
          document.getElementById('go-top').classList.add('show');
        } else {
          document.getElementById('go-top').classList.remove('show');
        }
      }, {passive: true});
    </script>
  {%- endif -%}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11317384601"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11317384601');
</script>
 {% include 'smile-initializer' %}


      <!--PageFly  fix horizontal -->
<style>
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden ! important;
  }
}

.__pf [data-pf-type="Section"] {
  overflow: hidden ! important;
}
</style>
</body>
</html>
{% if  template.name contains "index" %}
  <style>
    .main-footer{
          margin-top: 0;
    }
  </style>
{%  elsif  template.name contains "product"  %}
<style>
.product-item__image-figure,.lazy-image{
  margin: 0;
}
</style>
{%  endif %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    console.log("READY INDEX PAGE");
    var influencer_cookie = getCookie("discount_code");
    console.log(influencer_cookie);
    var influencerdiscounts = ['julian50', 'claire50', 'hannah15', 'hanjam15', 'marcus15', 'ashley15', 'kendra15', 'steve15', 'ryan15', 'ainsley15'];
  
    if (influencer_cookie !== undefined && influencerdiscounts.length > 0) {
      influencer_cookie = influencer_cookie.toLowerCase();
  
      if (influencerdiscounts.includes(influencer_cookie)) {
        console.log("INFLU CODE MATCH");
        var image_50 = document.querySelector('[data-section-id="pf-98f3"] img');
        
        if (image_50) {
          image_50.src = "https://cdn.shopify.com/s/files/1/0555/1751/1961/files/50_Off_Desktop_Banner.jpg?v=1702510864";
          image_50.srcset = "https://cdn.shopify.com/s/files/1/0555/1751/1961/files/50_Off_Desktop_Banner.jpg?v=1702510864";
        }
      }
    }
  });
  
  function getCookie(name) {
    return document.cookie.replace(new RegExp("(?:(?:^|.*;\\s*)" + name + "\\s*\\=\\s*([^;]*).*$)|^.*$"), "$1") || null;
  }
  
</script>